@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9fcf8;
  --foreground: #050505;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #050505;
    --foreground: #f9fcf8;
  }
}

body {
  color: var(--background);
  background: var(--foreground);
 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
